<section>
  <div class="sidebar">
    <a href="#" class="logo">
        <img src="/static/img/logo1.png" class="logo-img">
    </a>
    <ul class="nav-links">
        <li><a href="/dashboard/"><i class="fa-solid fa-house"></i></i> Dashboard</a></li>
        <li>
            <a href="/myaccount/"><i class="fa-solid fa-user"></i></i> My account</a>
        </li>
        <li>
            <a href="/transactions/"><i class="fa-solid fa-credit-card"></i></i></i> Transactions</a>
        </li>
        <li>
          <a href="/reminder/"><i class="fa-solid fa-bell"></i></i>Reminders</a>
      </li>
      <li>
        <a href="/report/"><i class="fa-solid fa-print"></i>Report</a>
    </li>
        <li>
          <a href="/trips/"><i class="fa-sharp fa-solid fa-plane-departure"></i> Trips</a>
      </li>
         <li>
            <a href="/settings/"><i class="fa-sharp fa-solid fa-gear"></i> Settings</a>
        </li>
        <div class="active"></div>
    </ul>
 
  </div>
</section>
 
 
 
 
 
    